@using Helpers
@model Test.Areas.Site.Models.ViewmodelPerson

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
	<body>
		<form action="@Request.RawUrl" method="post" enctype="multipart/form-data">
			<input type="hidden" value="0" name="page"/>
			<input type="text" name="search" />
			<input type="submit" value="Search"/>
		</form>
			
			<section>
				@Html.Raw(Html.Pager(Model.Persons.PageSize, Model.Persons.PageNumber, Model.Persons.TotalItemCount, new { Area = "Site", controller = "Person", search = Model.SearchWord }))
			</section>
			<table>
				<thead>
					<tr>
						<th>Firstname</th>
						<th>LastName</th>
						<th>E-mail</th>
						<th>Date of birth</th>
						<th>Street + nr</th>
						<th>Phone</th>
						<th>City</th>
						<th>Language</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (Model.Persons.Any())
						{
							foreach (var person in Model.Persons)
							{
								<tr>
									<td>@person.FirstName</td>
									<td>@person.Name</td>
									<td>@person.Email</td>
									<td>@person.DateOfBirth.ToShortDateString()</td>
									<td>@person.Street  @person.Number</td>
									<td>@person.PhoneNumber</td>
									<td>@person.City.PostalCode @person.City.Name</td>
									<td>@person.Language.Name</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="8">
									<p>No results.</p>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
			<section>
				@Html.Raw(Html.Pager(Model.Persons.PageSize, Model.Persons.PageNumber, Model.Persons.TotalItemCount, new { Area = "Site", controller = "Person", search = Model.SearchWord }))
			</section>
</body>
</html>